<p>Welcome to <span class="message">my</span> LightSaber.Prepare to be <a href="#"class="amaze">amazed</a>.</p>

<form action="/header" method="POST" class="header">
  <input type="text" name="message" placeholder="Your Name">
  <input type="submit">
</form>

<div class="lightsaber"></div>